.header {
  background-color: #5cb1ba;
  height: 10%;
  width: 100%;
  display: flex;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    padding: 20px;
  }
  &__products {
    padding: 20px;
  }
  &__login {
    padding: 20px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
}
